* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---HEADER---*/
.grid.container {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px auto 100px;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

header {
  border: 3px solid rgb(58, 173, 54);
  background-color: orange;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

header a {
  text-decoration: none;
  color: green;
  width: 100px;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

header a img {
  width: 100px;
  height: 100px;
}

header h1 span {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

header div {
  width: 100%;
  color: green;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header div h1 {
  width: 100%;
  margin: 0px 20px 0px 20px;
  color: green;
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

header div nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

header div nav ul li {
  margin: 10px 50px -10px 50px;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*---MAIN---*/

.hero {
  width: 100%;
  height: calc(100vh - 199px);
  background-image: url(../img/Estadio\ Florencio\ Sola.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: orange;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

main h1 {
  color: orange;
  background-color: green;
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: oblique;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel div img{
  width: 100%;
  height: 700px;
}

.noticias {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.noticias div {
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.noticias div h2 {
  color: green;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.noticias div img {
  width: 300px;
  height: 200px;
}

.noticias div p{
  width: 300px;
}

main div p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-noticias1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
}

.flex.noticias2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-noticias3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-noticias4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/*---FOOTER---*/

footer {
  border: 3px solid rgb(58, 173, 54);
  background-color: orange;
}

footer {
  display: flex;
  flex-direction: column;
}

footer .contenedor-padre {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .contenedor-padre a img {
  width: 100px;
  height: 100px;
}

footer ul li a {
  text-decoration: none;
  font-size: 20px;
  color: green;
  margin-left: 150px;
}

footer ul {
  list-style: none;
}

footer .contenedor-padre .redessociales img {
  width: 50px;
  height: 50px;
  margin: 5px;
}

footer div p {
  color: green;
  display: flex;
  justify-content: center;
  text-align: center;
}


/*PAGINA HISTORIA*/

.historia h2 {
  font-size: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  color: rgba(44, 162, 44, 0.962);
}



.historia img {
  width: 100%;
  height: 700px;
}


.historia p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.tribunas div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row: auto;
  gap: 15px;
  border: 3px solid green;
}

/*PAGINA PLANTEL*/

.plantel {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(53, 212, 117, 1) 0%,
    rgba(8, 135, 54, 1) 25%,
    rgba(42, 201, 44, 0.9082983535210959) 73%
  );
}

.arqueros {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 100px;
  margin-bottom: 40px;
}

.defensores {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  row-gap: 20px;
  margin-bottom: 40px;
}

.mediocampistas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  row-gap: 20px;
  margin-bottom: 40px;
}

.delanteros {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  justify-items: center;
  row-gap: 20px;
}

section div img {
  width: 300px;
  height: 300px;
}

.jugador {
  transition: 3s;
}
.jugador:hover {
  transform: rotateY(180deg);
}

/**PRODUCTOS**/
.productos2 h2 {
  background-color: green;
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
}

.productos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgb(215, 255, 215);
}

.productos img {
  width: 400px;
  height: 500px;
  background-color: white;
  border: 3px solid black;
}

.productos h3 {
  background-color: white;
  color: green;
  text-align: center;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
}
.productos a {
  background-color: burlywood;
  color: green;
  text-align: center;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: Arial, Helvetica, sans-serif;
}

.productos div {
  border: 3px solid black;
  text-align: center;
  margin: 20px;
  box-shadow: white;
  transition: 2s;
}
.productos div:hover {
  transform: scale(1.15);
}

/**CONTACTO**/

.contacto{
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;
}

.contacto h2{
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;
}

.contacto input{
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: normal;
}

.pais{
  font-size: 30px;
}


/**MEDIAS QUERY**/

@media screen and (max-width: 806px) {
  header div nav ul {
    padding: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1330px) {
  header {
    padding: 0px; 
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  header div h1{
    margin-top: 50px;
  }
  .hero {
    display: none;
  }
}

@media screen and  (max-width:676px ){
  .contenedor-padre{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  footer ul li a{
    margin: 0px;
  }
  footer .contenedor-padre .redessociales{
    display: flex;
    flex-direction: column;
    margin: 0px;
  }
}

@media screen and (max-width:1050px) {
  .noticias{
    height: 1200px;
    margin-bottom: 50px;
  } 
}

@media screen and (max-width:700px) {
  .noticias{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 680px;
    
  } 
  .flex-noticias4{
    margin-top: 110px;
    margin-bottom: 600px;
  }
}

@media screen and (max-width:346px) {
  .noticias{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
  
}

@media screen and (max-width:1420px){
 .tribunas div{
  display: grid;
  grid-template-columns: 1fr;
 }
 .tribunas img{
  width: 100%;
 } 
}

@media screen and (max-width:630px) {
  .historia img{
    width: 100%;
  }
  .nacimiento div img{
    width: 100%;
  }

  .historia p{
    width: 100%;
  }
  
}

@media screen and (min-width:630px) {
  .historia img{
    width: 100%;
  }
  .nacimiento div img{
    width: 100%;
  }

  .historia p{
    width: 100%;
  }
  
}


